
body{

    /*Modifiable area*/

    /* Padding of A4 page */
    --padding : 16mm;

    --header_footer_height : 16mm;
    --main_content_height : calc(calc(297mm - calc(2 * var(--padding))) - calc(2 * var(--header_footer_height)))

    /*   ---   */

    display: block;

    margin: 0mm;
    padding: 0mm;
    border-width: 0mm;

    width: 210mm;

    font-size: 11pt;

    background-color: white;

}

div.page_A4{

    display: block;
    transform: scale(1);

    margin: 0mm;
    padding: var(--padding);
    border-width: 0;

    width : calc(210mm - calc(2 * var(--padding)));
    height : calc(297mm - calc(2 * var(--padding)));

    overflow: hidden;

}

div.page_A4_layout{

    visibility:hidden;
    
    position: absolute;
    top:0;
    left: 0;

    display: block;
    transform: scale(1);

    margin: 0mm;
    padding: var(--padding);
    border-width: 0;

    width : calc(210mm - calc(2 * var(--padding)));
    height : calc(297mm - calc(2 * var(--padding)));

    overflow: hidden;
}

div.content_section{

    display: block;
    transform: scale(1);

    margin: 0mm;
    padding: var(--padding);
    border-width: 0;

    width : calc(210mm - calc(2 * var(--padding)));
    height : calc(297mm - calc(2 * var(--padding)));

}

p{
    text-indent: 12.7mm;
}

a{
    color: inherit;
    text-decoration: inherit;
}